.modalBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalWrapper {
  display: flex;
  justify-content: space-between;
}

.modalContent {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 80%;
  max-width: 800px;
  background-color: var(--bg-pink);
  border-radius: 24px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 45px;
  position: relative;
}

.closeButton {
  position: absolute;
  top: 20px;
  right: 20px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
  color: var(--color-black);
}

.loginContent,
.registerContent {
  display: flex;
  flex-direction: column;
}

.loginContent h2,
.registerContent h2 {
  margin-bottom: 20px;
}

.modalWrapper:nth-child(1):after {
  content: '';
  width: 2px;
  height: 300px;
  background-color: var(--color-gray);
}

.loginForm,
.registerForm {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.label {
  display: flex;
  flex-direction: column;
}

.loginForm input,
.registerForm input {
  width: 100%;
  background-color: #fff;
  border-radius: 8px;
  border: none;
  padding: 20px;
}

.loginForm input::placeholder,
.registerForm input::placeholder {
  color: rgb(179, 179, 179);
}

.loginForm button,
.registerForm button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 8px;
  background: var(--color-pink);
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  padding: 12px;
  margin-top: 20px;
  margin-bottom: 30px;
}

.loginForm button:hover,
.registerForm button:hover {
  background-color: var(--color-black);
  color: #fff;
}

.afterelement::after {
  content: '';
  display: block;
  width: 1px;
  height: 500px;
  background-color: var(--color-gray);
}

.googleBtn,
.passwordBtn {
  width: fit-content;
  border: none;
  color: var(--color-gray);
  background-color: var(--bg-pink);
  font-size: 16px;
  text-decoration: underline;
  text-align: left;
  margin-bottom: 20px;
  cursor: pointer;
}

.googleBtn:hover,
.passwordBtn:hover {
  color: var(--color-black);
}

@media (max-width: 600px) {
  .modalContent {
    width: 90%;
  }
}
